<header>
    <nav>
        <h3>Neck Massager PRO</h3>

        <div class="menu-area-mobile">
            <img src="/img/svg/vetor_menu.svg" alt=" " />
        </div>

        <ul class="lista-links-desktop">
            <li><a href="/">Início</a></li>
            <li><a href="/perguntas-frequentes">Perguntas Frequentes</a></li>
            <li><a href="/contate-nos">Contato</a></li>
        </ul>
    </nav>

    <section class="menu-colapse">
        <div class="botao-fechar"><img src="/img/svg/vetor_x.svg" alt=" " /></div>

        <div class="container-link">
            <a href="/" class="menu-link-item">Início</a>
            <img src="/img/svg/vetor_home.svg"" class=" menu-icon" alt=" " />
        </div>

        <span class="linha-menu"></span>

        <div class="container-link">
            <a href="/perguntas-frequentes" class="menu-link-item">Perguntas Frequentes</a>
            <img src="/img/svg/vetor_questao.svg" class="menu-icon" alt=" " />
        </div>

        <span class="linha-menu"></span>

        <div class="container-link">
            <a href="/politica-de-troca" class="menu-link-item">Política de Troca ou Devolução</a>
            <img src="/img/svg/vetor_troca.svg" class="menu-icon" alt=" " />
        </div>

        <span class="linha-menu"></span>

        <div class="container-link">
            <a href="/politica-de-privacidade" class="menu-link-item">Política de Privacidade</a>
            <img src="/img/svg/vetor_privacidade.svg" class="menu-icon" alt=" " />
        </div>

        <span class="linha-menu"></span>

        <div class="container-link">
            <a href="/contate-nos" class="menu-link-item">Entre em Contato</a>
            <img src="/img/svg/vetor_contato.svg" class="menu-icon" alt=" " />
        </div>

        <span class="linha-menu"></span>
    </section>
</header>