<%- include('../layouts/head') %>
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/inicio.css">
<title>Inicio | Neck Massager PRO </title>

</head>

<body>
    <%- include('../layouts/header') %>

    <main>
        <section class="main-section">
            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863352/neckMassagerPRO/img_background_main_jul72u.png"
                alt="Imagem mulher com dor nas costas" />

            <div>
                <h1>Cansado(a) de Sentir Dores?</h1>
                <p>Elimine completamente suas dores no pescoço e costas após algumas sessões de 15 minutos com
                    esse aparelho simples e eficaz que vai mudar sua vida!
                </p>

                <a href="#page-2">
                    <button type="button" class="btn btn-cta">Descubra como!</button>
                </a>

            </div>

            <p class="arrasta-cima">arrasta para cima
                <img src="/img/svg/vector_up.svg" alt=" " />
            </p>
        </section>

        <section id="page-2" class="sec-1">
            <h2>Melhor Massageador Vértebra-Cervical Inteligente no Mercado</h2>

            <div>
                <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863465/neckMassagerPRO/img_produto_2_ibvtgq.png"
                    alt="Imagem perfil do produto">
                <ul class="vantagem-lista">
                    <li>
                        <img src="/img/svg/vetor_positivo_verde.svg" alt=" " />
                        <p>É capaz de aliviar suas dores musculares com até 6 tipos de massagens</p>
                    </li>
                    <li>
                        <img src="/img/svg/vetor_positivo_verde.svg" alt=" " />
                        <p>Estimula a circulação sanguínea, reduzindo a inflamação dos músculos e acabando com a
                            dor</p>
                    </li>
                    <li>
                        <img src="/img/svg/vetor_positivo_verde.svg" alt=" " />
                        <p>Leve e portátil, se adapta automaticamente a qualquer pessoa</p>
                    </li>
                    <li>
                        <img src="/img/svg/vetor_positivo_verde.svg" alt=" " />
                        <p>Extremamente fácil de usar: É só apertar um botão</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="sec-2">
            <h2>Conforto e Relaxamento ao Alcance de Qualquer Pessoa</h2>

            <p>O aparelho possui a capacidade de se ajustar facilmente a curvatura do pescoço do usuário, tornando seu
                uso extremamente confortável
            </p>

            <div class="sec-destaques">
                <div class="destaques-item">
                    <div class="bg-img-item">
                        <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863455/neckMassagerPRO/img_eletrodo_360_mv9z9p.png"
                            alt="Imagem aumentada do interior do produto" />
                    </div>

                    <h3>Eletrodo que flutua 360°</h3>
                    <p>Possui uma superfície curva e móvel para se adaptar à curvatura do pescoço
                    </p>
                </div>

                <div class="destaques-item">
                    <div class="bg-img-item">
                        <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863454/neckMassagerPRO/img_braco_flexivel_ecgmhp.png"
                            alt="Imagem aumentada do 'braço' do produto" />
                    </div>

                    <h3>Braço Elástico</h3>
                    <p>Forte e resistente, se adapta facilmente a qualquer pessoa
                    </p>
                </div>

                <div class="destaques-item">
                    <div class="bg-img-item">
                        <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863453/neckMassagerPRO/img_botao_tzbrqf.png"
                            alt="Imagem aumentada dos botões de funcionamento" />
                    </div>

                    <h3>A apenas um botão do seu massagista</h3>
                    <p>Basta o apertar de apenas um botão para você desfrutar da melhor massagem que você já viu!
                    </p>
                </div>
            </div>
        </section>

        <section class="sec-3">
            <h2>Massageia Mais do Que Seu Pescoço</h2>

            <p>Possui extensores que possibilitam a massagem nas costas, lombar, braços e pernas. Fáceis de limpar e
                reutilizar.
            </p>

            <section class="swiper-pads">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container-pads">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863461/neckMassagerPRO/img_path_lombar_z6xgsv.png"
                                alt="Imagem aumentada da lombar de uma pessoa usando o produto" />

                            <h2>Na lombar</h2>
                            <p>Assim como no tórax, o massageador possibilita a alívio das dores lombares através da
                                massagem localizada.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-pads">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863460/neckMassagerPRO/img_path_coxa_qq2mki.png"
                                alt="Imagem aumentada da coxa de uma pessoa usando o produto" />

                            <h2>Nas pernas</h2>
                            <p>Com o aumento de fluxo sanguíneo e desinflamação dos músculos, dores no nervo ciático,
                                câimbras e formigamentos não são mais um problema.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-pads">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863452/neckMassagerPRO/img_ath_costas_2_rs5w3c.png"
                                alt="Imagem aumentada das costas de uma pessoa usando o produto" />

                            <h2>Nas costas</h2>
                            <p>Induz a circulação nos músculos em volta da coluna cervical, relaxando-os e elimando as
                                dores na região.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-pads">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863458/neckMassagerPRO/img_path_bra%C3%A7o_s9vts4.png"
                                alt="Imagem aumentada do braço de uma pessoa usando o produto" />

                            <h2>Nos braços</h2>
                            <p>Massageia e relaxa toda a extensão do braço, eliminando a fadiga e dores no ombro.
                            </p>
                        </div>
                    </div>
                </div>

                <div id="swiperPads" class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-prev-pads"></div>
                <div class="swiper-button-next swiper-button-next-pads"></div>
            </section>
            <div class="pads-desktop">
                <div class="container-pads">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863461/neckMassagerPRO/img_path_lombar_z6xgsv.png"
                        alt="Imagem aumentada da lombar de uma pessoa usando o produto" />

                    <h2>Na lombar</h2>
                    <p>Assim como no tórax, o massageador possibilita a alívio das dores lombares através da massagem
                        localizada.
                    </p>
                </div>

                <div class="container-pads">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863460/neckMassagerPRO/img_path_coxa_qq2mki.png"
                        alt="Imagem aumentada da coxa de uma pessoa usando o produto" />

                    <h2>Nas pernas</h2>
                    <p>Com o aumento de fluxo sanguíneo e desinflamação dos músculos, dores no nervo ciático, câimbras e
                        formigamentos não são mais um problema.
                    </p>
                </div>

                <div class="container-pads">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863452/neckMassagerPRO/img_ath_costas_2_rs5w3c.png"
                        alt="Imagem aumentada das costas de uma pessoa usando o produto" />

                    <h2>Nas costas</h2>
                    <p>Induz a circulação nos músculos em volta da coluna cervical, relaxando-os e elimando as dores na
                        região.
                    </p>
                </div>

                <div class="container-pads">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863458/neckMassagerPRO/img_path_bra%C3%A7o_s9vts4.png"
                        alt="Imagem aumentada do braço de uma pessoa usando o produto" />

                    <h2>Nos braços</h2>
                    <p>Massageia e relaxa toda a extensão do braço, eliminando a fadiga e dores no ombro.
                    </p>
                </div>
            </div>
        </section>

        <section class="sec-4">
            <h2>Massagens Relaxantes Através de Mini Impulsos Elétricos Localizados</h2>

            <p>Através desses pequenos impulsos elétricos, o Massageador consegue estimular o tecido muscular para que
                ele se contraia e relaxe, fazendo com que o fluxo sanguíneo na área aumente e o inchaço diminua.</p>

            <section class="box-img-fluxo">
                <div class="box">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863417/neckMassagerPRO/img_sangue_antes_m9crea.png"
                        alt="Representação gráfica do sangue antes do uso do produto">

                    <h5>Fluxo Sanguíneo Normal</h5>
                </div>

                <div class="box">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863418/neckMassagerPRO/img_sangue_depois_ny2qmu.png"
                        alt="Representação gráfica do sangue depois do uso do produto">

                    <h5>Fluxo Sanguíneo Após o uso do Massageador</h5>
                </div>
            </section>

            <h2>Compacto e Eficiente</h2>

            <p class="texto-2">Com 15 minutos de massagem por dia, o Massageador Neck Massager PRO pode ser usado por
                até 20 dias sem a necessidade de recarga.</p>

            <p class="texto-2">Depois desse período, o Massageador pode ser recarregado através de qualquer porta USB.
            </p>

            <img class="boneco-azul"
                src="https://res.cloudinary.com/demiandb/image/upload/v1637863414/neckMassagerPRO/boneco_azul_produto_cio8ir.png"
                alt="Desenho artístico de uma pessoa usando o produto" />
        </section>

        <section class="sec-5">
            <h2>Tecnologia Capaz de Simular Diversos Métodos de massagens</h2>

            <p>Com essa tecnologia, você terá um massageador pessoal profissional na sua própria casa, capaz de realizar
                até 6 TIPOS DIFERENTES de massagens.
            </p>

            <section class="swiper-metodos">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container-modos">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863459/neckMassagerPRO/img_path_costas_xo5dj7.png"
                                alt="Imagem aumentada dos paths nas costas" />

                            <h3>Modo Automático</h3>
                            <p>Varia automaticamente entre modos para proporcionar a melhor experiência possível.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-modos">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863456/neckMassagerPRO/img_path_agulhas_exk5zf.png"
                                alt="Imagem de um dos modos de massagem do produto" />

                            <h3>Modo Acumpultura</h3>
                            <p>Dor e inchaço no pescoço são aliviados através de estímulos em pontos específicos.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-modos">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863457/neckMassagerPRO/img_path_beliscao_oq1g0f.png"
                                alt="Imagem de um dos modos de massagem do produto" />

                            <h3>Modo Massagem Leve</h3>
                            <p>Similar ao modo automático, recomendado para total relaxamento e conforto.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-modos">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863464/neckMassagerPRO/img_path_soquinho_heiplv.png"
                                alt="Imagem de um dos modos de massagem do produto" />

                            <h3>Modo Martelo</h3>
                            <p>Simula o martelo tradicional, batendo e pressionando para repor a elasticidade muscular.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-modos">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863463/neckMassagerPRO/img_path_shiatsu_ezrxd0.png"
                                alt="Imagem de um dos modos de massagem do produto" />

                            <h3>Modo Shiatsu</h3>
                            <p>Simula um antigo métido terapêutico orginado no Japão no final do século XIX. Trata-se de
                                uma massagem que usa pontos de pressão ao longo de todo o corpo.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="container-modos">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863462/neckMassagerPRO/img_path_maos_rfe5za.png"
                                alt="Imagem de um dos modos de massagem do produto" />

                            <h3>Modo Amassamento</h3>
                            <p>Estimula o sistema muscular da área apara aumentar o fluxo sanguíneo para o cérebro e
                                aliviar a fadiga.</p>
                        </div>
                    </div>
                </div>

                <div id="swiperPads" class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-prev-met"></div>
                <div class="swiper-button-next swiper-button-next-met"></div>
            </section>

            <div class="metodos-desktop">
                <div class="container-modos">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863459/neckMassagerPRO/img_path_costas_xo5dj7.png"
                        alt="Imagem aumentada dos paths nas costas" />

                    <h3>Modo Automático</h3>

                    <p>Varia automaticamente entre modos para proporcionar a melhor experiência possível.</p>
                </div>

                <div class="container-modos">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863456/neckMassagerPRO/img_path_agulhas_exk5zf.png"
                        alt="Imagem de um dos modos de massagem do produto" />

                    <h3>Modo Acumpultura</h3>

                    <p>Dor e inchaço no pescoço são aliviados através de estímulos em pontos específicos.</p>
                </div>

                <div class="container-modos">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863457/neckMassagerPRO/img_path_beliscao_oq1g0f.png"
                        alt="Imagem de um dos modos de massagem do produto" />

                    <h3>Modo Massagem Leve</h3>

                    <p>Similar ao modo automático, recomendado para total relaxamento e conforto.</p>
                </div>

                <div class="container-modos">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863464/neckMassagerPRO/img_path_soquinho_heiplv.png"
                        alt="Imagem de um dos modos de massagem do produto" />

                    <h3>Modo Martelo</h3>

                    <p>Simula o martelo tradicional, batendo e pressionando para repor a elasticidade muscular.</p>
                </div>

                <div class="container-modos">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863463/neckMassagerPRO/img_path_shiatsu_ezrxd0.png"
                        alt="Imagem de um dos modos de massagem do produto" />

                    <h3>Modo Shiatsu</h3>

                    <p>Simula um antigo métido terapêutico orginado no Japão no final do século XIX. Trata-se de uma
                        massagem que usa pontos de pressão ao longo de todo o corpo.</p>
                </div>

                <div class="container-modos">
                    <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863462/neckMassagerPRO/img_path_maos_rfe5za.png"
                        alt="Imagem de um dos modos de massagem do produto" />

                    <h3>Modo Amassamento</h3>

                    <p>Estimula o sistema muscular da área apara aumentar o fluxo sanguíneo para o cérebro e aliviar a
                        fadiga.</p>
                </div>
            </div>
        </section>

        <section class="sec-6">
            <h2>O que Clientes Falam Sobre o Massageador</h2>

            <section class="swiper-relatos">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863482/neckMassagerPRO/foto10_j5ner6.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Carolina Araujo</h4>
                                <p>São Paulo - SP</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>“Bom produto, exatamente como anunciado e funciona perfeitamente!”</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863480/neckMassagerPRO/foto8_numiyi.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Livia Rodrigues</h4>
                                <p>Linhares - ES</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>“Produto idêntico ao anunciado, bem embalado, testado, chegou antes do esperado,
                                    recomendo.”</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863479/neckMassagerPRO/foto4_rn3mcq.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Mariana Barros</h4>
                                <p>Salvador - BA</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>“Sem dúvidas um produto muito bom, está me ajudando bastante nas dores das costas, da
                                    um choquezinho mais é de leve, ótimo custo benefício.”</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863487/neckMassagerPRO/fotoGaleria8_aza8xo.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Arthur Ferreira Cavalcanti</h4>
                                <p>Pato Branco - PR</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>"Produto muito bom. Vendedor no 10 pela rapidez e qualidade no envio."</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863483/neckMassagerPRO/fotoGaleria3_gvopi9.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Sophia Rodrigues</h4>
                                <p>Feira de Santana - BA</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>"Excelente vendedor, recebi em 15 dias e está tudo bem muito bom"</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863486/neckMassagerPRO/fotoGaleria6_udyrjq.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Rodrigo Alves</h4>
                                <p>Jandira - SP</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>"Tudo veio! A ordem veio na hora certa! Vendedor recomendo!"</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863485/neckMassagerPRO/fotoGaleria4_afa9av.jpg"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Aline Dias Fernandes</h4>
                                <p>Belo Horizonte - MG</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>"Estou amandoooo. Super fácil de usar, e muito bom. Chegou bem rápido."</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863483/neckMassagerPRO/fotoGaleria2_slzook.webp"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Beatrice Correia</h4>
                                <p>Betim - MG</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>"Exatamente como na foto, funciona mesmo. As ondas de massagens são super fortes"</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="corpo-relato">
                            <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863489/neckMassagerPRO/fotoGaleria13_bxow9w.jpg"
                                alt="Imagem do produto enviada por clientes" />
                            <div>
                                <h4>Sarah Cardoso</h4>
                                <p>Araçatuba - SP</p>
                                <img src="/img/svg/stars.svg" alt=" ">
                                <p>"Veio dentro do prazo, super embalado e funciona muito bem, muito forte, gostei."</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="swiperPads" class="swiper-pagination swiper-pagination-relatos"></div>
                <div class="swiper-button-prev swiper-prev-relatos"></div>
                <div class="swiper-button-next swiper-next-relatos"></div>
            </section>
        </section>

        <section class="sec-7">
            <div class="garantia-30">
                <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863419/neckMassagerPRO/selo_garantia_r2dygf.png"
                    alt="Imagem selo de garantia">
                <div>
                    <h3>Satisfação <span>Garantida</span> ou Seu <span>Dinheiro de Volta</span></h3>
                    <p>Ao adquirir o Neck Massager PRO, você ganha 30 dias de garantia contra quaisquer defeitos no
                        aparelho. Sem complicações.</p>
                </div>
            </div>
            <span class="linha"></span>
            <div class="satisfacao-garantida">
                <img src="https://res.cloudinary.com/demiandb/image/upload/v1637863416/neckMassagerPRO/garantia_7_dias_vbtvbp.png"
                    alt="Imagem selo de garantia de 7 dias">
                <div>
                    <h3>Garantia <span>INCONDICIONAL</span></h3>
                    <p>Caso não tenha gostado do produto ou tenha mudado de ideia, você terá até 7 dias para entrar em
                        contato e pedir um reembolso completo do valor.</p>
                </div>
            </div>
        </section>

        <section class="sec-8">
            <div class="lista-vantagem">
                <img src="https://res.cloudinary.com/demiandb/image/upload/v1637866430/neckMassagerPRO/img_produto_7_zygh7n.png"
                    alt="Imagem de perfil do produto" />

                <h2>Comprando agora o Neck Massager PRO você leva:</h2>
                <div>
                    <div class="lista-item">
                        <img src="/img/svg/vetor_positivo_branco.svg" alt=" " />
                        <h4>1x Neck Massager PRO</h4>
                    </div>
                    <div class="lista-item">
                        <img src="/img/svg/vetor_positivo_branco.svg" alt=" " />
                        <h4>1x Cabo de Energia</h4>
                    </div>
                    <div class="lista-item">
                        <img src="/img/svg/vetor_positivo_branco.svg" alt=" " />
                        <h4>1x Par de Extensores Reutilizáveis</h4>
                    </div>
                    <div class="lista-item">
                        <img src="/img/svg/vetor_positivo_branco.svg" alt=" " />
                        <h4>Manual de Instrução</h4>
                    </div>
                    <div class="lista-item">
                        <img src="/img/svg/vetor_positivo_branco.svg" alt=" " />
                        <h4>Garantia Exclusiva de 30 dias</h4>
                    </div>
                    <div class="lista-item">
                        <img src="/img/svg/vetor_positivo_branco.svg" alt=" " />
                        <h4>Frete GRÁTIS!</h4>
                    </div>
                </div>
            </div>

            <section class="pagamento-carrinho">
                <h4>Aqui está sua chance de finalmente se livrar de suas dores nas costas!</h4>

                <h2>Aproveite!</h2>

                <p>De R$ 249,90 por apenas:</p>

                <div class="precificacao">
                    <h4>3x R$</h4>
                    <div>
                        <h1 class="preco-principal">63,30</h1>
                        <h4>SEM JUROS!</h4>
                    </div>
                </div>

                <div class="container-pagamento">
                    <h5>à vista no cartão ou</h5>
                    <h5>boleto: R$ 189,90</h5>
                </div>

                <a href="/carrinho"><button class="btn btn-buy">Compre Agora!</button></a>

                <img src="/img/svg/vetor_garantia.svg" class="selos-garantia" alt=" " />

                <img src="/img/svg/vetor_bandeiras.svg" class="bandeira-cartoes" alt=" " />
            </section>
        </section>

        <section class="sec-9">
            <h2>Ficou com Alguma Dúvida?</h2>

            <h3>Nós Respondemos aqui</h3>

            <div class="container-unidade">
                <button id="1" class="btn btn-duvida-frequente" type="button" data-bs-toggle="collapse"
                    data-bs-target="#duvidaCard1" aria-expanded="false" aria-controls="collapseExample">O frete é
                    grátis mesmo? <img id="vetorDown" src="/img/svg/vetor_down.svg" alt=" " /></button>

                <div class="collapse" id="duvidaCard1">
                    <div class="duvida-expandida">
                        <p>Com toda certeza! Nenhuma taxa é cobrada por parte do cliente. Assumimos o valor do frete
                            para você.</p>
                    </div>
                </div>
            </div>

            <div class="container-unidade">
                <button id="2" class="btn btn-duvida-frequente" type="button" data-bs-toggle="collapse"
                    data-bs-target="#duvidaCard2" aria-expanded="false" aria-controls="collapseExample">Qual o prazo de
                    entrega? <img id="vetorDown" src="/img/svg/vetor_down.svg" alt=" " /></button>

                <div class="collapse" id="duvidaCard2">
                    <div class="duvida-expandida">
                        <p>O prazo padrão de entrega é cerca de 15 à 20 dias úteis, contados a partir da aprovação do
                            pagamento e envio.</p>
                    </div>
                </div>
            </div>

            <div class="container-unidade">
                <button id="3" class="btn btn-duvida-frequente" type="button" data-bs-toggle="collapse"
                    data-bs-target="#duvidaCard3" aria-expanded="false" aria-controls="collapseExample">Minha compra
                    pelo site é segura? <img id="vetorDown" src="/img/svg/vetor_down.svg" alt=" " /></button>

                <div class="collapse" id="duvidaCard3">
                    <div class="duvida-expandida">
                        <p>É completamente segura! O site conta com um sistema de proteção SSL DV, o que garante uma
                            navegação segura e sem problemas. Ainda contamos com a proteção de um Firewall que impede
                            qualquer tipo de ataque hacker aos nossos servidores, garantindo a proteção dos seus dados.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-unidade">
                <button id="4" class="btn btn-duvida-frequente" type="button" data-bs-toggle="collapse"
                    data-bs-target="#duvidaCard4" aria-expanded="false" aria-controls="collapseExample">Tem como saber
                    onde meu pedido está? <img id="vetorDown" src="/img/svg/vetor_down.svg" alt=" " /></button>

                <div class="collapse" id="duvidaCard4">
                    <div class="duvida-expandida">
                        <p>Assim que a compra é aprovada, é enviado ao email usado na compra o código de rastreio de
                            sua encomenda.</p>
                    </div>
                </div>
            </div>

            <div class="container-unidade">
                <button id="5" class="btn btn-duvida-frequente" type="button" data-bs-toggle="collapse"
                    data-bs-target="#duvidaCard5" aria-expanded="false" aria-controls="collapseExample">Meu cartão de
                    crédito fica salvo no site? <img id="vetorDown" src="/img/svg/vetor_down.svg" alt=" " /></button>

                <div class="collapse" id="duvidaCard5">
                    <div class="duvida-expandida">
                        <p>Absolutamente não! Todo o processo de checkout do site é criptografado para que seja
                            inviolável. Não temos acesso algum a esse tipo de dado.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../layouts/footer') %>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/exp_duv.js"></script>

</body>

</html>