<%- include('../layouts/head') %>
<link rel="stylesheet" href="/css/perguntas.css">
<title>Perguntas Frequentes </title>

</head>

<body>
    <%- include('../layouts/header') %>

    <main>
        <h1>Perguntas Frequentes</h1>
        <p>Aqui se encontra uma lista mais completa de perguntas para ajudar nossos clientes.</p>

        <h4>1. Qual o prazo para meu pedido ser aprovado?</h4>
        <p>Em compras feitas através de cartão de crédito, o pedido é aprovado na hora; Já compras feitas pelo boleto
            bancário tendem a ser aprovadas em até 3 dias úteis.
        </p>

        <h4>2. Tem alguma taxa sobre o produto?</h4>
        <p>Como alguns itens são importados, pode haver uma taxação sobre sua encomenda, mas não se preocupe! TODAS
            taxas alfandegárias são de NOSSA responsabilidade, ou seja, nós mesmos as pagamos, caso surja a necessidade.
        </p>

        <h4>3. Meu produto veio danificado ou com defeito. Posso pedir uma troca ou reembolso?</h4>
        <p>Com a absoluta certeza! O cliente tem até 30 dias para entrar em contato pelo email:
            <strong>contatoneckmassager@gmail.com</strong>, e iniciar o processo de troca ou reembolso. Para mais
            informações, leia a nossa <strong>Política de Troca e Devoluções.</strong>
        </p>

        <h4>4. Minha entrega atrasou? E agora?</h4>
        <p>Não se preocupe! Entre em contato conosco pelo email <strong>contatoneckmassager@gmail.com</strong> que
            iremos fazer de tudo para averiguar a situação. Caso seu produto for extraviado ou não chegar em até 60 dias(sem
            atualização da localização), faremos o reembolso ou envio de um novo produto, a sua escolha.
        </p>

        <h4>5. Tem como rastrear meu pedido?</h4>
        <p>Tem sim! Assim que seu pedido for despachado, enviaremos para seu email um código de rastreio para saber
            aonde sua encomenda está. Fique tranquilo, pois junto com o código vai um passo-a-passo simples de como usá-lo.
        </p>

        <h4>6. O frete é grátis mesmo?</h4>
        <p>Com toda certeza! Nenhuma taxa é cobrada por parte do cliente. Assumimos o valor do frete para você.
        </p>

        <h4>7. Qual o prazo de entrega?</h4>
        <p>O prazo padrão de entrega é cerca de 15 à 20 dias úteis, contados a partir da aprovação do pagamento e envio.
        </p>

        <h4>8. Minha compra pelo site é segura?</h4>
        <p>É completamente segura! O site conta com um sistema de proteção SSL DV, o que garante uma navegação segura e
            sem problemas. Ainda contamos com a proteção de um Firewall que impede qualquer tipo de ataque hacker aos nossos
            servidores, garantindo a proteção dos seus dados.
        </p>

        <h4>10. Quais as formas de pagamento?</h4>
        <p>Atualmente, as formas de pagamento disponíveis são estritamente feitas através do cartão de crédito. A
            modalidade boleto está temporiariamente disponível. Já estamos fazendo o possível para disponibilizar essa forma de
            pagamento nnovamente.
        </p>
    </main>

    <%- include('../layouts/footer') %>
</body>

</html>