<%- include('../layouts/head') %>
<link rel="stylesheet" href="/css/politicas.css">
<title>Políticas de Troca ou Devolução</title>

</head>

<body>
    <%- include('../layouts/header') %>

    <main>
        <h1>Política de Troca ou Devolução</h1>

        <h4>Direito de Arrependimento</h4>
        <h5>Você pode se arrepender da compra, de acordo com o Artigo 49 do Código de Defesa do Consumidor, e rescindir
            o contrato a qualquer momento, no prazo máximo de 7 dias corridos, a contar do dia posterior ao do recebimento
            de sua mercadoria. No caso de arrependimento, é sua responsabilidade cuidar devidamente do produto. O produto deve
            estar na melhor condição possível, com a sua embalagem original e sem danos, juntamente com todos os manuais,
            acessórios, itens gratuitos e outros componentes. Neste caso, você receberá um reembolso total do preço pago pelos
            produtos, de acordo com a nossa Política de Trocas e Devoluções.
        </h5>

        <h4>Como faço para solicitar uma troca?</h4>
        <h5>Você pode efetuar a solicitação de troca do produto gratuitamente seguindo as seguintes condições: -Item com
            defeito, danificado ou quebrado; -Item enviado com a cor, tamanho ou voltagem errada; -Pacotes sem a
            atualização do rastreio por mais de 60 dias úteis ou retornados ao nosso fornecedor sem motivo prévio. Para realizar essa
            solicitação, você deve entrar em contato diretamente com nossa equipe em até 48 horas após receber seu
            produto através do e-mail contatoneckmassager@gmail.com. Deste modo, nossa equipe irá lhe passar todas as instruções
            para o procedimento de troca.
        </h5>

        <h4>Como faço para solicitar um novo pedido?</h4>
        <h5>Você pode efetuar a solicitação de um novo pedido gratuitamente seguindo as seguintes condições: -Pacotes
            sem a atualização do rastreio por mais de 60 dias úteis; -Retornados ao nosso fornecedor sem motivo prévio.
        </h5>

        <h4>Observação:</h4>
        <h5>Nestes casos, passará a valer um novo prazo de entrega. Quando o cliente solicita um novo pedido pelo motivo
            do rastreio estar sem atualização por mais de 60 dias, pode acontecer do mesmo atualizar após a empresa ter
            feito um novo conforme solicitação do cliente e apuração dos fatos. Caso o cliente receba dois produtos, ele possui a
            obrigação de entrar em contato com a empresa informando o recebimento dos pedidos. Se porventura, os fatos
            forem apurados e não recebemos nenhum contato, a situação será considerada como crime de fraude e os meios
            judiciais cabíveis da empresa serão acionados. ATENÇÃO! Nunca envie sua compra de volta ao remetente sem entrar em
            contato conosco primeiro. A nossa loja informará o endereço de devolução correto para qual dos nossos armazéns seu
            pedido deverá ser enviado. Para isso, basta entrar em contato conosco via e-mail. Devoluções feitas no endereço
            errado não poderão ser reembolsadas. A nossa loja não se responsabiliza por NÃO RECEBIMENTO ou RECUSA na
            recepção do item. Existem certas situações em que apenas são concedidas restituições parciais - se
            aplicáveis: -Produtos com sinais óbvios de uso; -Embalagens extraviadas e lacres abertos; -Qualquer item que não esteja
            na sua condição original, está danificado ou falta peças por motivos não devidos ao erro de nossa Loja; -Qualquer
            item que seja devolvido mais que 7 dias após a entrega; -Não recebimento ou recusa na entrega do pedido por parte do
            cliente, resultando na devolução do item para o nosso fornecedor. Apesar de realizarmos todos os esforços para
            validar os detalhes do endereço no momento do envio, é fundamental que o cliente insira seus detalhes de envios
            corretos durante o processo de finalização da compra.
        </h5>

        <h4>Garantia do Produto</h4>
        <h5>Todos os nossos produtos possuem uma garantia de 30 dias contra defeitos de fabricação. Se dentro deste
            prazo seu produto apresentar qualquer defeito, você pode entrar em contato conosco solicitando um novo. Reembolso - se
            aplicável Uma vez que sua solicitação de reembolso foi recebida, nós lhe enviaremos um formulário para
            preenchimento sobre informações completas de seu pedido e a situação ocorrida que levou ao reembolso. Iremos inspecionar
            todos os itens e notificá-los de que recebemos o produto retornado. Também iremos notificá-lo da aprovação ou
            rejeição de seu reembolso. Se for aprovado, seu reembolso será processado e um crédito será aplicado automaticamente ao
            cartão que foi utilizado para realizar a compra. Caso a compra tenha sido paga por boleto, será feita uma transferência
            bancária para a conta informada no formulário de reembolso. Reembolsos atrasados - se aplicável Se ainda não
            recebeu um reembolso, primeiro verifique sua conta bancária novamente ou entre em contato com a operadora de seu cartão de crédito. Pode levar algum tempo até que seu reembolso seja oficialmente publicado. Observação importante: não fornecemos pilhas ou baterias para produtos eletrônicos. Os mesmos são de responsabilidade do cliente.
        </h5>
    </main>

    <%- include('../layouts/footer') %>
</body>

</html>